.header {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: antiquewhite;
  width: 320px;
}

.message {
  text-align: center;
}
.ask-label {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}
.disabled {
  display: none;
}
